* {
font-family: 'Lato', sans-serif;
margin: 0px;
}

header {
    margin-left: 100px;
    position: absolute;
    color: white;
}

#hbk {
z-index: -1;
height: 100%;
width: 100%;
background-image: url(image2/DSCN1801.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
}

#firstbackground {
    display: inline-block;
    position: fixed;
background: rgb(255, 53, 114) no-repeat center center;
    background-size: cover;
  height: 100%;
  width: 100%;
    z-index: -1;
}


#secondbackground {
    display: inline-block;
    position: fixed;
    background-image: url(image2/DSC_0065.jpg);
    background-size: cover;
    top: 0px;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#thirdbackground {
      top: 0px;
    margin-bottom: 0;
    display: inline-block;
    position: fixed;
background: url(image2/newww.jpg);
    background-size: coVER;
    background-position:center;
height: 100%;
  width: 100%;
    z-index: -1;
}

#fourthbackground {
      top: 0px;
    margin-bottom: 0;
    display: inline-block;
    position: fixed;
background: url(image2/first.png) no-repeat center center;
    background-size: cover;
height: 100%;
  width: 100%;
    z-index: -1;
}


/*yum controls the background animation*/

.yum {
-webkit-animation: yummy 1s forwards;
-moz-animation: yummy 1s forwards;
-o-animation: yummy 1s forwards;
-ms-animation: yummy 1s forwards;
}


@-webkit-keyframes yummy {
    0%{ -webkit-transform:rotate(inherit);
        border-radius:5000px;}


    100%{
        -webkit-transform:rotate(720deg);
        top:0%;
        height:100%; 
        width:100%; 
        left:0; 
        right:0;
    } 
}
    
@-moz-keyframes yummy {
    0%{ -moz-transform:rotate(inherit);
        border-radius:5000px;}


    100%{
        -moz-transform:rotate(720deg);
        top:0%;
        height:100%; 
        width:100%; 
        left:0; 
        right:0;
    } 
}
    
@-o-keyframes yummy {
        0%{ -o-transform:rotate(inherit);
        border-radius:5000px;}


    100%{
        -o-transform:rotate(720deg);
        top:0%;
        height:100%; 
        width:100%; 
        left:0; 
        right:0;
    }
}

@-ms-keyframes yummy {
    0%{ -ms-transform:rotate(inherit);
        border-radius:5000px;}


    100%{
        -ms-transform:rotate(720deg);
        top:0%;
        height:100%; 
        width:100%; 
        left:0; 
        right:0;
    }
}



#container{
      background-image: url(image2/roco.png);
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    display:block;
    align-content: center;
    overflow: hidden;
    z-index: 1;
}

#shadow{
    color: white;
    position:relative;
    left: 50%;
    top:50%;
    border-radius: 465px;
    width:500px;
    height: 500px;
    z-index: 21;
}


.circle1{
    position:absolute;
    left: 50%;
    top:50%;
    margin-top: -210px;
    margin-left: -210;
    border-radius: 465px;
    width:420px;
    height: 420px;
    background-color: rgb(255, 53, 114);
    z-index: 1;}

.circle1:hover {
		transform: scale(1.05);
        background: linear-gradient(rgb(255, 161, 189), rgb(255, 53, 114));
	}

.circle2:hover {
		transform: scale(1.05);
        background: linear-gradient(rgb(97, 129, 203), rgb(63, 72, 93));
	}

.circle3:hover {
		transform: scale(1.05);
        background: linear-gradient(rgb(0, 255, 20), rgb(0, 141, 11));
	}

.circle4:hover {
		transform: scale(1.05);
        background-color: rgb(0, 255, 20);
	}



.darken {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .0;
}

.circle2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -170px;
    border-radius: 465px;
    width: 340px;
    height: 340px;
    background-color: rgb(63, 72, 93);
    background-position: -700px;
    z-index: 2;
    
}

.circle3{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -135px;
border-radius: 465px;
    width:270px;
    height: 270px;
    background-color:rgb(0, 255, 20);
    z-index: 3;
}

.circle4{
    position: absolute;
    top:  50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
border-radius: 465px;
    width:200px;
    height: 200px;
    background-image: url(image2/first.png);
    background-size: cover;
    transform: rotate(0deg);
    overflow: hidden;
    z-index: 4;
}


.rot1{
-webkit-animation: spin 0.7s ease-in;
-moz-animation: spin 0.7s ease-in;
-o-animation: spin 0.7s ease-in;
-ms-animation: spin 0.7s ease-in;
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(inherit);}
100% { -webkit-transform: rotate(60deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(inherit);}
100% { -moz-transform: rotate(60deg);}
}
@-o-keyframes spin {
0% { -o-transform: rotate(inherit);}
100% { -o-transform: rotate(60deg);}
}
@-ms-keyframes spin {
0% { -ms-transform: rotate(inherit);}
100% { -ms-transform: rotate(60deg);}
}
 

.rot2{
-webkit-animation: spin1 0.7s linear;
-moz-animation: spin1 0.7s linear;
-o-animation: spin1 0.7s linear;
-ms-animation: spin1 0.7s linear;
}
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(inherit);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(inherit);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(inherit);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(inherit);}
100% { -ms-transform: rotate(360deg);}
}

 
/*nav text*/


.navtext {
    position: absolute;
    left: -55px;
    top: -20px;
}

#navabo {
    font-size: 100px;
    margin-left: -155px;
    top: -80px;
}

#navexp {
    font-size: 72px;
    margin-left: -120px;
    top: -60px;
}

#navwor {
    font-size: 100px;
    margin-left: -70px;
    top: -70px;
}

#navcon {
    font-size: 60px;
    margin-left: -52px;
    top: -50px;
}

#glasses {
    top: 15px;
    top: 0px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    font-size: 2em;
    color: white;
}

.Sglas {
    color: black;   
}

.title {
    color: white;
    position: absolute;
    z-index: 10;
    top: -20px;
    left: 50px;
}




/* START OF 3RD PAGE */

#webpages {
    margin-bottom: -635px;
}

#PAG1 {

    margin-top: -500px;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background-color: rgb(180, 104, 235);
        z-index: 40;
}

#PAG2 {
    margin-bottom: 0px;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background-color: rgb(230, 235, 104);
    z-index: 40;
}








/*For IPhones 6*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
    .circle1{
        width: 1200px;
        height: 1200px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -600px;
        left: 50%;
        margin-left: -600px;
    } 
    
    .circle2{
        width: 900px;
        height: 900px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -450px;
        left: 50%;
        margin-left: -450px;
    } 
    
    .circle3{
        width: 600px;
        height: 600px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -300px;
        left: 50%;
        margin-left: -300px;
    }  
    
    .circle4{
        width: 300px;
        height: 300px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -150px;
    } 
    
    #container {
        background-size: cover;
    }
    
    #glasses {
        left:50%;
        margin-left: -35px;
    font-size: 6em;
    color: white;
}
    
    #mobile{
        top: 40%;
    margin-top: -50px;
    position: absolute;
    left: 25%;
    margin-left: -10px;
    font-size: 12em;
    color: white;
    }

    span .glyphicon-home {
        font-size: 6em;
    }
    
    h1 {
        font-size: 60px;
    }
    
    h3 {
        font-size: 40px;
    }

    .navtext {
    position: absolute;
    left: -55px;
    top: -20px;
}

#navabo {
    font-size: 200px;
    margin-left: -400px;
    top: -125px;
}

#navexp {
    font-size: 180px;
    margin-left: -390px;
    top: -100px;
}

#navwor {
    color:white;
    font-size: 230px;
    margin-left: -240px;
    top: -140px;
}

#navcon {
    font-size: 80px;
    margin-left: -80px;
    top: -100px;
}
    
}


/* for iphone 5 & 4 */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      
          .circle1{
        width: 1200px;
        height: 1200px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -600px;
        left: 50%;
        margin-left: -600px;
    } 
    
    .circle2{
        width: 900px;
        height: 900px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -450px;
        left: 50%;
        margin-left: -450px;
    } 
    
    .circle3{
        width: 600px;
        height: 600px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -300px;
        left: 50%;
        margin-left: -300px;
    }  
    
    .circle4{
        width: 300px;
        height: 300px;
        border-radius: 1200px;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -150px;
    } 
    
    #container {
        background-size: cover;
    }
    
    #glasses {
        left:50%;
        margin-left: -35px;
    font-size: 6em;
    color: white;
}
    
    #mobile{
        top: 40%;
    margin-top: -50px;
    position: absolute;
    left: 25%;
    margin-left: -10px;
    font-size: 12em;
    color: white;
    }

    span .glyphicon-home {
        font-size: 6em;
    }
    
    h1 {
        font-size: 60px;
    }
    
    h3 {
        font-size: 40px;
    }

    .navtext {
    position: absolute;
    left: -55px;
    top: -20px;
}

#navabo {
    font-size: 200px;
    margin-left: -400px;
    top: -125px;
}

#navexp {
    font-size: 180px;
    margin-left: -390px;
    top: -100px;
}

#navwor {
    color:white;
    font-size: 230px;
    margin-left: -240px;
    top: -140px;
}

#navcon {
    font-size: 80px;
    margin-left: -80px;
    top: -100px;
}
}